<div class="jqPlot chart-graphic" id="<%= chart_name %>"
  style="margin-left:5px; width:<%= chart.width %>px; height:<%= chart.height %>px;"></div>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery.jqplot('<%= chart_name %>', <%= chart.data.to_json.html_safe %>, {
    animate: !jQuery.jqplot.use_excanvas,
    stackSeries: true,
    showMarker: false,
    seriesDefaults:{
      renderer:jQuery.jqplot.BarRenderer,
      pointLabels: {show: true, hideZeros: true},
      rendererOptions: {
        animation: {
          speed: 1000
        }
      }
    },
    series: <%= chart.series.to_json.html_safe %>,
    axes: {
      xaxis: {
        renderer: jQuery.jqplot.CategoryAxisRenderer,
        ticks: <%= chart.ticks.to_json.html_safe %>,
        label: '<%= l(:field_planner_plan_week) %>'
      },
      yaxis: {
        labelRenderer: jQuery.jqplot.CanvasAxisLabelRenderer,
        min: 0,
        max: <%= chart.max %>,
        label: '<%= l(:field_planner_plan_percent) %>',
        tickInterval: <%= chart.tick_interval %>,
        tickOptions: {
          suffix: '%'
        },
        padMin: 0
      }
    },
    grid: {
      background: 'white',
      drawBorder: false,
      shadow: true,
      gridLineWidth: 1
    },
    legend: { show: false },
    canvasOverlay: {
      show: true,
      objects: [
        {
          horizontalLine: {
            y: <%= chart.limit %>,
            lineWidth: 2,
            xOffset: 0,
            color: '#2ca02c',
            shadow: false
          }
        }
      ]
    }
  });

  plannerChartLegendHighlight('<%= chart_name %>');
});
</script>

<div id="<%= chart_name %>-legend" class="chart-legend">
  <%= render :partial => legend_partial, :locals => {:chart => chart, :chart_name => chart_name} %>
</div>
