<div class="chart-graphic">
  <div class="jqPlot" id="<%= chart_name %>"
    style="margin-left:5px; width:<%= chart.width %>px; height:<%= chart.height %>px;"></div>

  <div class="jqPlot" id="<%= chart_name %>-summary"
    style="margin-left:5px; width:<%= chart.width %>px; height:70px;"></div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
  plannerChart({
    chartid: '<%= chart_name %>',
    data: <%= chart.data.to_json.html_safe %>,
    series: <%= chart.series.to_json.html_safe %>,
    xTicks: <%= chart.ticks.to_json.html_safe %>,
    xLabel: '<%= l(:field_planner_plan_week) %>',
    yMax: <%= chart.max %>,
    yLabel: '<%= l(:field_planner_plan_percent) %>',
    yTickInterval: <%= chart.tick_interval %>,
    yLimit:  <%= chart.limit %>
  });
  jQuery('#week_start_date').val('<%= @chart.start_date.to_s %>');
  jQuery('#num_weeks').val('<%= @chart.weeks %>');


  jQuery.jqplot('<%= chart_name %>-summary', <%= chart.threshold_data.to_json.html_safe %>, {
    stackSeries: true,
    showMarker: false,
    seriesDefaults:{
      renderer:jQuery.jqplot.BarRenderer,
      pointLabels: {show: false}
    },
    series: <%= chart.threshold_series.to_json.html_safe %>,
    axes: {
      xaxis: {
        renderer: jQuery.jqplot.CategoryAxisRenderer,
        ticks: <%= chart.ticks.to_json.html_safe %>,
      },
      yaxis: {
        //labelRenderer: jQuery.jqplot.CanvasAxisLabelRenderer,
        showTicks: false,
        min: 0,
        max: 1
      }
    },
    grid: {
      background: 'white',
      drawBorder: false,
      shadow: true,
      gridLineWidth: 1
    },
    legend: { show: false }
  });
});
</script>

<div id="<%= chart_name %>-legend" class="chart-legend">
  <%= render :partial => legend_partial, :locals => {:chart => chart, :chart_name => chart_name} %>
</div>
