<div class="jqPlot chart-graphic" id="<%= chart_name %>"
  style="margin-left:5px; width:<%= chart.width %>px; height:<%= chart.height %>px;"></div>

<script type="text/javascript">
jQuery(document).ready(function() {
  plannerChart({
    chartid: '<%= chart_name %>',
    data: <%= chart.data.to_json.html_safe %>,
    series: <%= chart.series.to_json.html_safe %>,
    xTicks: <%= chart.ticks.to_json.html_safe %>,
    xLabel: '<%= l(:field_planner_plan_week) %>',
    yMax: <%= chart.max %>,
    yLabel: '<%= l(:field_planner_plan_percent) %>',
    yTickInterval: <%= chart.tick_interval %>,
    yLimit:  <%= chart.limit %>
  });
});
</script>

<div id="<%= chart_name %>-legend" class="chart-legend">
  <%= render :partial => legend_partial, :locals => {:chart => chart, :chart_name => chart_name} %>
</div>
