<div class="box planner-range">
  <%= form_tag(chart_url, :remote => true, :method => 'get') do %>
    <span>
      <label for="week_start_date" class="bold">
        <%= l(:field_planner_plan_week_date) %>
      </label>
      <%= text_field_tag :week_start_date, @start_date, :size => 10 %><%= calendar_for('week_start_date') %>
    </span>

    <span>
      <label for="num_weeks" class="bold">
        <%= l(:field_planner_plan_weeks_show) %>
      </label>
      <%= text_field_tag 'num_weeks', @num_weeks, :size => 2, :class => 'num' %>
    </span>

    <%= submit_tag l(:button_update) %>
  <% end %>
</div>
