<div class="box planner-range">
  <%= form_tag(chart_url, :remote => true, :method => 'get') do %>
    <span>
      <label for="week_start_date" class="bold">
        <%= l(:field_planner_plan_week_date) %>
      </label>
      <%= text_field_tag :start, @chart.start_date, :size => 10 %><%= calendar_for('start') %>
    </span>

    <span>
      <label for="num_weeks" class="bold">
        <%= l(:field_planner_plan_weeks_show) %>
      </label>
      <%= text_field_tag 'weeks', @chart.weeks, :size => 2, :class => 'num' %>
    </span>

    <%= render :partial => 'plan_requests/state_form' %>

    <%= submit_tag l(:button_update) %>
  <% end %>
</div>
