
<% if @plan_group.users.any? %>
  <table class="list members">
    <thead><tr>
      <th><%= l(:label_user) %></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% can_edit = controller.can_modify_members? %>
      <% @plan_group.plan_group_members.sort.each do |member| %>
        <tr id="member-<%= member.id %>" class="<%= cycle 'odd', 'even' %> member">
          <td><%= link_to_user_plan_view(@project, member.user) %></td>
          <td class="buttons">
            <%= link_to_remote(l(:button_delete),
                { :url => plan_group_membership_path(@plan_group, member), :method => :delete},
                :title => l(:button_delete), :class => 'icon icon-del') if can_edit %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
