<h2><%= l(:label_planner_group_edit) %></h2>

<%= labelled_form_for(@plan_group) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>

<%= link_to l(:button_back), project_plan_groups_path(@project) %>
