<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'planner', :plugin => 'planner' %>
<% end %>

<div class="contextual">
  <%= link_to l(:label_planner_group_new), new_project_plan_group_path,
   :class => 'icon icon-add' if controller.can_edit_group? %>
</div>

<h2><%= l(:label_planner_groups) %></h2>

<div class="autoscroll">
<table class="list planner">
  <thead><tr>
    <th><%= l(:field_name) %></th>
    <th><%= l(:field_planner_group_type) %></th>
    <th><%= l(:field_planner_leader) %></th>
    <th></th>
  </tr></thead>
  <tbody>
  <% @plan_groups.each do |plan_group| %>
    <tr id="plan_goup-<%= plan_group.id %>" class="<%= cycle 'odd', 'even' %> member">
      <td><%= link_to plan_group.name, plan_group %></td>
      <td><%= plan_group.type_string %></td>
      <td><%= plan_group.team_leader ? link_to_user(plan_group.team_leader) : "-" %></td>
      <td class="buttons">
        <%= link_to(l(:button_edit), edit_plan_group_path(plan_group),
          :class => 'icon icon-edit') if controller.can_edit_group? %>
        <%= link_to(l(:button_delete), plan_group, :confirm => l(:text_are_you_sure), :method => :delete,
          :class => 'icon icon-del') if controller.can_edit_group? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
