<div class="contextual">
  <%= link_to(l(:button_edit), edit_plan_group_path(@plan_group),
      :class => 'icon icon-edit') if User.current.admin? %>
</div>

<h2><%= l(:label_planner_group)%>: <%= @plan_group.name %></h2>


<table class="attributes" style="width: 500px;">
  <tr>
    <th><%= l(:field_planner_group_type) %></th>
    <td><%= @plan_group.type_string %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_leader) %></th>
    <td><%= @plan_group.team_leader ? link_to_user(@plan_group.team_leader) : "-" %></td>
  </tr>
</table>

<hr/>

<%= link_to l(:button_back), project_plan_groups_path(@project) %>
