<p>
  <b>Name:</b>
  <%= @plan_group.name %>
</p>

<p>
  <b>Group type:</b>
  <%= @plan_group.group_type == 1 ? l(:label_planner_group_team) : l(:label_planner_group_group) %>
</p>

<p>
  <b>Leader:</b>
  <%= @plan_group.team_leader ? link_to_user(@plan_group.team_leader) : "-" %>
</p>


<%= link_to l(:button_edit), edit_plan_group_path(@plan_group) %> |
<%= link_to l(:button_back), project_plan_groups_path(@project) %>
