<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plan_group.name %>
</p>

<p>
  <b>Group type:</b>
  <%= @plan_group.group_type %>
</p>

<p>
  <b>Leader:</b>
  <%= @plan_group.team_leader ? link_to_user(@plan_group.team_leader) : "-" %>
</p>


<%= link_to 'Edit', edit_plan_group_path(@plan_group) %> |
<%= link_to 'Back', project_plan_groups_path(@project) %>
