<div class="contextual">
  <%= link_to(l(:button_edit), edit_plan_group_path(@plan_group),
      :class => 'icon icon-edit') if controller.can_edit_group? %>
</div>

<h2><%= @plan_group.type_string %>: <%= @plan_group.name %></h2>


<div class="splitcontentleft">
<table class="attributes" style="width: 500px;">
  <tr>
    <th><%= l(:field_planner_leader) %></th>
    <td><%= @plan_group.team_leader ? link_to_user_plan_view(@project, @plan_group.team_leader) : "-" %></td>
  </tr>
  <% members = @plan_group.users.sort %>
  <tr>
    <th><%= l(:label_member_plural) %></th>
    <td>
      <div id="member-list">
        <%= render :partial => 'members' %>
      </div>
    </td>
  </tr>
</table>
</div>

<% if controller.can_modify_members? %>
  <div class="splitcontentright" id="non-member-list">
    <%= render :partial => 'members_form' %>
  </div>
<% end %>

<div style="clear:both; padding-top:5px;">
  <hr/>
  <%= link_to l(:button_back), project_plan_groups_path(@project) %>
</div>
