<h2><%= l(:label_planner_req_new) %></h2>

<%= labelled_form_for([@project, @plan_request]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>

<%= link_to l(:button_cancel), project_plan_requests_path %>
