<div class="contextual">
  <% if @plan_request.can_edit? %>
    <%= link_to(l(:button_delete), @plan_request, :data => { :confirm => l(:text_are_you_sure)},
      :method => :delete, :class => 'icon icon-del')%>
    <%= link_to(l(:button_edit), edit_plan_request_path(@plan_request),
      :class => 'icon icon-edit') %>
  <% end %>
</div>

<h2><%= l(:label_planner_request) + " \##{@plan_request.id}" %></h2>


<div class="splitcontentleft">
<table class="attributes" style="width: 500px;">
  <tr>
    <th><%= l(:field_planner_req_prio) %></th>
    <td><%= @plan_request.priority_string %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_req_requester) %></th>
    <td><%= @plan_request.requester.name %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_req_resource) %></th>
    <td><%= link_to_user_plan_view(@project, @plan_request.resource) %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_task) %></th>
    <td><%= link_to @plan_request.task.name, plan_task_path(@plan_request.task) %></td>
  </tr>
  <tr>
    <th><%= l(:field_description) %></th>
    <td><%= @plan_request.description %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_req_date) %></th>
    <td><%= format_time @plan_request.requested_on %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_req_approver) %></th>
    <td><%= @plan_request.approver ? @plan_request.approver.name : "-" %></td>
  </tr>
  <tr>
    <th><%= l(:field_planner_req_status) %></th>
    <td><%= @plan_request.status_string %></td>
  </tr>
</table>
</div>

<% if @plan_request.can_request? %>
  <div class="splitcontentright">
    <%= form_for(@plan_request, { :url => plan_request_send_request_path(@plan_request), :method => :put
      } ) do |f| %>
      <fieldset>
        <legend><%=l(:label_planner_req_send)%></legend>
        <%= submit_tag l(:button_save) %>
      </fieldset>
    <% end %>
  </div>
<% end %>

<% if @plan_request.can_approve? %>
  <div class="splitcontentright">
    <%= form_for(@plan_request, { :url => plan_request_approve_path(@plan_request), :method => :put
      } ) do |f| %>
      <fieldset>
        <legend><%=l(:label_planner_req_approve_deny)%></legend>
        <p>
          <%= f.select :status, [
            [ l(:label_planner_req_approve), PlanRequest::STATUS_APPROVED ],
            [ l(:label_planner_req_deny), PlanRequest::STATUS_DENIED ]] ,
           :include_blank => false %>
        </p>
        <p><%= f.text_area :approver_notes, :cols => 30, :rows => 5 %></p>
        <%= submit_tag l(:button_save) %>
      </fieldset>
    <% end %>
  </div>
<% end %>

<div style="clear:both; padding-top:5px;">
  <h3><%= l(:label_planner_req_assoc_plan)%></h3>

  <div id="detail-list">
    <%= render :partial => "plan_details/index", :locals => { :details => @plan_request.details} %>
  </div>

  <%= render :partial => "plan_details/new" %>
</div>

<div style="clear:both; padding-top:5px;">
  <hr/>
  <%= link_to l(:button_back), project_plan_requests_path(@project) %>
</div>
