<%= back_url_hidden_field_tag %>
<%= error_messages_for 'plan_task' %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p>
    <%= f.select :owner_id, @project.users.sort.collect {|p| [ p.name, p.id ] },
     :include_blank => false, :label => :field_planner_owner %>
  </p>
  <% unless @plan_task.new_record? %>
    <p><%= f.check_box :is_open, :label => :field_planner_is_open %></p>
  <% end %>
  <p><%= f.text_field :description, :size => 60 %></p>
  <p><%= f.text_field :wbs, :size => 60, :label => :field_planner_wbs%></p>
</div>
