<div class="contextual">
<%= link_to l(:label_planner_task_new), new_project_plan_task_path, :class => 'icon icon-add' if controller.can_create_task? %>
</div>

<h2><%= l(:label_planner_tasks) %></h2>

<div class="autoscroll">
<table class="list planner">
  <thead><tr>
    <th><%= l(:field_name) %></th>
    <th><%= l(:field_planner_owner) %></th>
    <th class="center"><%= l(:field_planner_is_open) %></th>
    <th><%= l(:field_planner_wbs) %></th>
    <th></th>
  </tr></thead>
  <tbody>
  <% @plan_tasks.each do |plan_task| %>
    <tr id="plan_task-<%= plan_task.id %>" class="<%= cycle 'odd', 'even' %> plantask">
      <td><%= link_to plan_task.name, plan_task %></td>
      <td><%= plan_task.owner ? link_to_user_plan_view(@project, plan_task.owner) : "-" %></td>
      <td class="center"><%= checked_image plan_task.is_open? %></td>
      <td><%= plan_task.wbs %></td>
      <td class="buttons">
        <%= link_to(l(:button_edit), edit_plan_task_path(plan_task),
          :class => 'icon icon-edit') if plan_task.can_edit? %>
        <%= link_to(l(:button_delete), plan_task, :data => { :confirm => l(:text_are_you_sure)},
          :method => :delete, :class => 'icon icon-del') if plan_task.can_delete? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
