<h2><%= l(:label_task_new) %></h2>

<%= labelled_form_for([@project, @plan_task]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>

<%= link_to l(:button_cancel), project_plan_tasks_path %>
